<!DOCTYPE html>

<html>
<head>
<title>{{pageTitel}}</title>
</head>
<body bgcolor="#f1f1f1" text="Red">
  {{>header}}
<h4>Call us on 0468932407 for more information </h4>
{{> footer}}
</body>

</html>
