<!DOCTYPE html>

<html>
<head>
<title>{{pageTitel}}</title>

</head>
<body bgcolor="skyblue" text="black">
{{> header}}
<h1>{{welcomeMessage}}... Find the current offers to start your new adventure</h1>

<h3>Sydney to Hyd
Hyd to Sydney
</h4>
{{> footer}}
</body>

</html>
